<div id="footer_container">
    <div id="footer">
        <small>&#169 2020 Int</small>
    </div>
</div>
<!-- <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script> -->
<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>

<!-- Add to text post field additional features -->
<script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>

<!-- Add emojies to chat -->
<script src="https://cdn.jsdelivr.net/npm/emoji-button@latest/dist/index.min.js"></script>

<!-- Gallery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>

