{% load embed_video_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>Video</title>
</head>
<body>
    <div class="outer_container">
        {% include 'search.html' %}

        <div class="inner_container">
            <div class="inner">
                {% include 'navbar.html' %}
    
                <div class="main_container">
                    <div class="page_title_container">
                        <h4>My Video</h4>
                    </div>
                
                    <div class="my_video_container">
                        <div class="video_holder">
                            {% for video in cur_user.video_poster.all %}
                                {% if video.video %}
                                    <div class="video_box">
                                        {% video video.video '250x200' %}		
                                    </div>
                                {% endif%}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="page_title_container">
                        <h4>All Videos</h4>
                    </div>
                    <div class="my_video_container">
                        <div class="video_holder">
                            {% for video in all_users_videos %}
                                {% if video.video %}
                                    <div class="video_box">
                                        {% video video.video '250x200' %}		
                                    </div>
                                {% endif%}
                            {% endfor %}
                        </div>
                    </div>


    
                </div>
    
                {% include 'sidebar.html' %}
            </div>
        </div>
    {% include 'footer.html' %}
    </div>
</body>
</html>