{% load embed_video_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>Dashboard</title>
</head>
<body>
    <div class="outer_container">
        {% include 'search.html' %}

        <div class="inner_container">
            <div class="inner">
                {% include 'navbar.html' %}
    
                <div class="main_container">
                    <div class="page_title_container">
                        <h4>News</h4>
                    </div>

                    <div class="all_posts_container">
                        {% for post in posts %}
                            <div class="post_container">
                                <div class="post_header">
                                    <div class="avatar">
                                        <a href="/user/{{ post.poster.id }}/profile" ><img src="{{ MEDIA_URL }}{{ post.poster.avatar }}" alt="{{ post.poster.first_name}}'s avatar"></a>
                                    </div>
                                    <div class="poster">
                                        <a href="/user/{{ post.poster.id }}/profile" class="poster_name">{{ post.poster.first_name }} {{ post.poster.last_name }}</a>
                                        <small>{{ post.created_at }}</small>
                                    </div>
                                    {% if post.poster.id == cur_user.id %}
                                    <div class="delete_post_btn">
                                        <a href="/delete/post/{{post.id}}">Delete</a>
                                    </div>
                                    {% endif %}
                                </div>

                                {% if post.title %}
                                    <h3 class="post_title">{{ post.title }}</h3>
                                {% endif %}
                                <p class="post_content">{{ post.content|safe }}</p>

                                <!-- if post has video, display this: -->
                                {% for i in post.videos.all %}
                                <div class="one_video_container">			
                                    {% video i.video '520x300' %}		
                                </div>
                                {% endfor %}

                                <!-- if post has an image, display this: -->
                                {% if post.post_image %}
                                <div class="post_image_container">
                                    <div class="tz-gallery">
                                        <div class="image_box">
                                            <a class="lightbox" href="{{ MEDIA_URL }}{{ post.post_image }}">
                                                <img class="all_images" src="{{ MEDIA_URL }}{{ post.post_image }}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}


                                <!-- if post has an music, display this: -->
                                {% if post.post_song %}
                                <div class="post_song_container">
                                    <div class="player-box">
                                        <audio controls>
                                            <source src="{{ MEDIA_URL }}{{ post.post_song }}" type="audio/mpeg">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </div>
                                {% endif %}

                                <!-- create like -->
                                <div class="like">
                                    <p class="{{post.id}} likess">{{post.likes.count}}</p>
                                    <ion-icon name="heart"></ion-icon>
                                    {% if cur_user in post.likes.all %}
                                    <a class="unlike" post_id='{{post.id}}' href="/unlike/{{post.id}}" href2="/like/{{post.id}}">Unlike</a>
                                    {% else %}
                                    <a class="unlike" post_id='{{post.id}}' href="/like/{{post.id}}" href2="/unlike/{{post.id}}">Like</a>
                                    {% endif %}
                                </div>
                        
                                <!-- create comment -->
                                <div class="comment_container">
                                    <div class="comment_form_container">
                                        <form action="/add_comment/post/{{ post.id }}" class="comment_form" method="POST" post_id="{{post.id}}">
                                            {% csrf_token %}
                                            <div class="comment_input">
                                                <div class="add_comment_input">
                                                    <input type="text" name="comment" placeholder="write a comment">
                                                </div>
                                                <input type="hidden" name="post_id" value="{{post.id}}">
                                                <button class="btn btn-outline-info btn_add" >Add</button>
                                            </div>
                                        </form>
                                    </div>

                                    <!-- if post has comments show this: -->
                                    {% if post.comments.all %}
                                    <p post_id="{{post.id}}" class="show_comments {{post.id}}paragraph">Show comments...</p>
                                    {% endif %}

                                    <!-- display comments -->
                                    <div class="display_comments_container {{post.id}}display">
                                        {% for comment in post.comments.all %}
                                        <div class="display_comment">
                                            <div class="comment_poster_photo">
                                                <a href="/user/{{ comment.poster.id }}/profile"><img src="{{ MEDIA_URL }}{{ comment.poster.avatar }}" alt=""></a>
                                            </div>
                                            <div class="comment_content">
                                                <div class="comment_content_header">
                                                    <a class="comment_poster" href="">{{ comment.poster.first_name }} {{ comment.poster.last_name }}</a>
                                                    {% if comment.poster.id == cur_user.id %}
                                                    <div class="delete_comment_btn">
                                                        <a id="delete_com" href="/delete/comment/{{comment.id}}">Delete</a>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                                <p class="comment_text">{{ comment.comment }}</p>
                                                <small>{{ comment.created_at }}</small>
                                            </div>
                                        </div>
                                        <hr>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
    
                {% include 'sidebar.html' %}
            </div>
        </div>

        {% include 'footer.html' %}
    </div>
</body>
</html>