<div id="footer_container">
    <div id="footer">
        <small>Created by <a href="">Drew Adorno</a>, 2020</small>
    </div>
</div>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

<!-- Add to text post field additional features -->
<script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace( 'editor1' );
</script>

<!-- Add emojies to chat -->
<script src="https://cdn.jsdelivr.net/npm/emoji-button@latest/dist/index.min.js"></script>