{% load embed_video_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>Profile</title>
</head>
<body>
    <div class="outer_container">
        {% include 'search.html' %}

        <div class="inner_container">
            <div class="inner">
                {% include 'navbar.html' %}
    
                <div class="main_container">
                    <div class="page_title_container">
                        <h4>Update profile</h4>
                    </div>
                    <div class="errors_container">
                        {% if messages %}                                                                      				 	
                        <ul class="messages">                                           								
                            {% for message in messages %}                                       							
                                <li class="errors">{{ message }}</li>       									
                            {% endfor %}   
                        {% endif %}
                    </div>

                    <div class="update_profile_container">
                        <form action="/update_profile/{{cur_user.id}}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="first_name">First Name:</label>
                                <input type="text" name="first_name" class="form-control" id="first_name" value = "{{cur_user.first_name}}">
                            </div>
                            <div class="form-group">
                                <label for="last_name">Last Name:</label>
                                <input type="text" name="last_name" class="form-control" id="last_name" value = "{{cur_user.last_name}}">
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="text" name="email" class="form-control" id="email" value = "{{cur_user.email}}">
                            </div>
                            {{ cur_user.birth_date}}
                            <div class="form-group">
                                <label for="birth_date">Birthdate:</label>
                                <input type="date" name="birth_date" class="form-control" id="birth_date" value = "{{cur_user.birth_date}}">
                            </div>
                            <div class="form-group">
                                <label for="phone_num">Phone:</label>
                                <input type="tel" name="phone_num" class="form-control" id="phone_num" value = "{{cur_user.phone_num}}">
                            </div>
  
                            <div class="form-group">
                                <label for="avatar">Avatar:</label>
                                <div class="custom-file">
                                    <input type="file" name="avatar" class="form-control" id="avatar" >
                                </div>
                            </div>

                            <div class="form-group">
                              <label for="about">About Me:</label>
                              <textarea class="form-control" name="about" id="about" rows="6">{{cur_user.about}}</textarea>
                            </div>
                            <div class="button_form">
                                <button class="mybutton btn btn-info">Update</button>
                            </div>
                        </form>
                    </div>
    
                </div>
    
                {% include 'sidebar.html' %}
            </div>
        </div>
    {% include 'footer.html' %}
    </div>
</body>
</html>